# Ignore build dir
build

# Ignore executibles
bin/*

# Ignore mac files
.DS_Store

# Ignore Visual Studio Code folder but include build/debug files
.vscode/**
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
